$background: #ccc;

// .dropdown-menu { background-color: yellow; }

%centered {
  display: flex;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  // font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
  // font-family: Georgia;
  font-family: Times New Roman;
  font-size: 20px;
  // background: #df744a;
  // background: #c38d9e;
  // background: #c38d9e;
  background: #97caef;
  // background: #90ccf4;
  // background: #c4dbf6;
  // background: #8fcee3;
  // background: #272727;
  // background: #d1e8e2;
  // background: #494e6b;
  color: #031424;
//   color: #ffdc3d;
  padding: 1rem;
  letter-spacing: 1px;
}

.errorMsg {
  color: #f21e08;
  padding: 0.5rem;
  padding-left: 0;
  max-width: 450px;
}

.successMsg {
  color: #00ff00;
  background: #077707;
  padding: 0.5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

header {
  text-align: center;
  margin-bottom: 3rem;

  .links {
    text-transform: uppercase;
    text-align: center;
    font-size: inherit;
    margin-top: 3rem;

    .link:link,
    .link:visited {
      outline: none;
      color: #000;
      margin: 1rem;
      padding: 0.5rem 0;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
    }

    .link:hover,
    .link:active {
      border-bottom: 2px solid #fff;
    }
  }
}

.action-items {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 1rem 0;
}

.active {
  font-weight: bold;
  box-shadow: 0 0 5px #000;
}

.loading {
  @extend %centered;
}

.error-msg {
  color: #f21e08;
  background: #fff0f0;
  padding: 1rem;
  font-size: 1.2rem;
}

.success-msg {
  color: #00ff00;
  background: #077707;
  padding: 1rem;
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: unset;
}

.login-page {
  text-align: center;
}

.add-page {
  text-align: center;
}

.update-page {
  text-align: center;
}

button,
input[type='button'],
input[type='submit'],
.btn {
  font-size: 1.6rem;
}

.form-control {
  font-size: 1.6rem;
}

.login-form {
  width: 100%;
  margin: auto;
  font-size: 2.5rem;
  text-align: left;
  @extend %centered;
  // border-style: border;
  // border: 2px solid black;
  // border-radius: round($number: 20px);
  // background-color: #fedcd2;
  // padding: 10%;
  // opacity: 60%;

  .login-btn {//todo:delete??
    padding: 0.5rem 1rem;
    background: #676779;
    color: #fff;
    border-radius: 5px;
  }
}

.add-task-form {
    width: 100%;
    margin: auto;
    font-size: 2.5rem;
    text-align: left;
    // padding: 10px;
    // background: greenyellow;
    @extend %centered;
  
    // .login-btn {
    //   padding: 0.5rem 1rem;
    //   background: #676779;
    //   color: #fff;
    //   border-radius: 5px;
    // }
}


.account {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .account-btn {
    margin: 1.6rem;
    padding: 6px 12px;
    letter-spacing: 1px;
  }
}

.label-value {
  margin-left: 1rem;
  word-break: break-all;
}

.profile-form {
  .label-value {
    display: block;
    margin-left: 0;
  }
}

.edit-account {
  font-size: 1.6rem;
  float: right;
  letter-spacing: initial;
  text-decoration: underline;
  padding-top: 0.5rem;
}

.summary-form .label {
  width: 15rem;
}

.summary-form,
.account {
  width: 80%;
  margin: auto;
  text-align: center;
}

.btn-report {
  margin: 1rem 0;
}

.transactions-section {
  text-align: left;

  .main-info {
    text-align: left;
  }
}

.report-table {
  margin-bottom: 3rem;
}

%pagination {
  background-color: #d9c2ac;
}

%active-pagination {
  background-color: inherit;
  border-color: inherit;
  color: #fff;
  outline: none;

  &:focus {
    box-shadow: none;
  }
}

.page-item {
  @extend %pagination;
  &.active {
    background-color: #494961;
    .page-link {
      @extend %active-pagination;
    }
  }
  .page-link {
    @extend %active-pagination;
  }
}

// .dropdown-toggle {
//   background-color: #fff;
//   color: #000;
// }

.dropdown-item {
    min-width: 5rem;
    font-size: 1.5rem;
    color: #ffdc3d;
    //background-color: black;
  }

.dropdown-menu {
  min-width: 5rem;
  color: #000;
  background-color: black;
}

.bg-black {
    background-color: black;
}

.dashboard-container {
    text-align: left;
    // .left-col {
    //     // font-size: 1.5rem;
    // }
    .right-col {
        font-size: 1.5rem;
    }
}
.alltasks-container {
    text-align: left;
    // color: black;
    .left-col {
        font-size: 1.5rem;
        background: #f78888;
        // background: hotpink;
        padding: 12px;
        // padding-left: 12px;
        // padding-right: 12px;
        // padding-bottom: 6px;
      }
      .middle-col {
        font-size: 1.5rem;
        background: #5da2d5;
        padding: 12px;
      }
      .right-col {
        font-size: 1.5rem;
        background: #f3d250;
        // background: #f4976c;
        // background: #da7b93;
        // background: #b39bc8;
        padding: 12px;
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

@media only screen and (max-width: 600px) {
  .action-items {
    flex-direction: column;
  }

//   .login-form {
//     width: 100%;
//   }

  header {
    .links {
      .link:link,
      .link:visited {
        display: block;
      }

      .link:hover,
      .link:active {
        border-bottom: 2px solid transparent;
      }
    }
  }

  .account {
    flex-direction: column;
    text-align: left;

    .account-btn {
      margin: 1rem;
      padding: 3px 8px;
    }
  }

  .edit-account {
    display: block;
    float: none;
  }

  .account-form {
    .label-value {
      display: block;
      margin-left: 0;
    }
  }
}

//test sidebar
// .sidebar {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     min-height: 100vh !important;
//     z-index: 100;
//     //padding: 48px 0 0;
//     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
// }

.sidebar {
    background-color: darkmagenta;
}
// #sidebar-wrapper{
//     min-height: 100vh !important;
//     width: 100vw;
//     margin-left: -1rem;
//     -webkit-transition: margin .25s ease-out;
//     -moz-transition: margin .25s ease-out;
//     -o-transition: margin .25s ease-out;
//     transition: margin .25s ease-out;
// }
// #sidebar-wrapper .sidebar-heading {
//     padding: 0.875rem 1.25rem;
//     font-size: 1.2rem;
// }

// #page-content-wrapper {
//     min-width: 0;
//     width: 100%;
// }


//yintao edit

.sidenav {
  height: 100%;
  width: 160px;
  // width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  margin-left: 20px;
  // padding: 6px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  // color: #f1f1f1;
  color: #ff652f;
}

div.content {
  margin-left: 160px;
}

@media screen and (max-width: 500px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
    text-align: left;
    float: none;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (min-width: 501px) {
  .collapse {
    display: block !important;
    // overflow: visible !important;
  }
  nav.hide-lg {
    visibility: hidden;
    // display: none;
  }
  .login-page {
    margin-left: -160px;
  }
}

th {
  background-color: hotpink;
}

tbody tr:hover td {
  // background-color: #ff652f;
  background-color: #ffe400;
}